# --- Laravel ---
laravel-backend/vendor
laravel-backend/storage/*.key
laravel-backend/storage/logs
laravel-backenlaravel-d/.env

# --- Node / React Native ---
QuanLyNguoiDung/node_modules
QuanLyNguoiDung/.env
QuanLyNguoiDung/.next
QuanLyNguoiDung/dist


# --- OS / Editor ---
.DS_Store
Thumbs.db
.idea
.vscode
